@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff2") format("woff2"), url("fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff") format("woff"), url("fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff2") format("woff2"), url("fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.woff") format("woff"), url("fonts/Source-Sans-Pro-regular/Source-Sans-Pro-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff2") format("woff2"), url("fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.woff") format("woff"), url("fonts/Source-Sans-Pro-700/Source-Sans-Pro-700.ttf") format("truetype"); }
html {
    height: 100%;
}
body {
    font-family: arial;
    font-size: 14px;
    margin: 0;
    color: #666;
    background: #eee;
}
a {
    color: #424;
}
.menu {
    width: 96.6%;
    margin: 0;
    padding: 14px 1.7%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #424;
    z-index: 1;
}
.menu .title {
    font-family: 'Source Sans Pro';
    font-size: 24px;
}
.menu .user {
    float: right;
    font-size: .8em;
    font-weight: normal;
}
.toolbar {
    margin: 0;
    padding: 4px 1.7%;
    background: #4246;
    z-index: 1;
    color: white;
}
.toolbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.toolbar button, .toolbar select {
    margin-right: .4em;
}
.toolbar #message {

}
.toolbar .right {
    float: right;
    margin-top: 8px;
}
.column {
    float: left;
}
.row.main {
}
.column.left {
    width: 33%;
    background: #eee;
}
.column.middle {
    width: 33%;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
.column.right {
    width: 33%;
}
.column.side {
    width: 40%;
    display: none;
    background: #ddd;
    /* height: 100%; */
    /* overflow-y: scroll; */
    /* z-index: 0; */
    /* margin-top: -9em; */
}
.column.side:last-child {
    box-shadow: -5px 0px 5px #aaa;
}
.column.side:first-child {
    box-shadow: 5px 0px 5px #aaa;
}
.column.side > .panel:first-child {
    /* margin-top: 12em; */
}

.column.middle  {
}
.column.half {
    width: 50%;
}
.row {
    width: 100%;
    clear: both;
}
.panel {
    padding: 0 6%;
    /* float: left; */
}
/* .middle .generate .column { */
/*     width: 100%; */
/* } */
.middle .column .panel {
    padding: 0 2.5%;
}
.panel {
    width: 88%;
}
.middle .row {
    /*    padding-left: 2%*/
}
.results {
    display: none;
    font-size: small;
}
h1 {
    padding: 0px 12px 0 12px;
    margin: 18px 0 0 0;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: arial;
    color: #424;
    margin-top: 1.4em;
}
h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #424;
}
h2 small {
    font-weight: normal;
    font-size: .7em;
    float: right;
}
input {
    background: #eee;
    border: 1px solid gray;
    padding: 8px
}
textarea {
    font-size: 1em;
}
.left .panel textarea {
    width: 100%;
    /* height: 850px; */
    height: auto;
    padding: 12px;
    color: #888;
    background: #fff;
    border: none;
    overflow: hidden;
}
.left .panel textarea#write-constraint {
    background: #ddd;
    height: 40px;
}
.middle .panel textarea {
    width: 100%;
    height: 300px;
    padding: 12px;
    color: #888;
    border: none;
    background: #eee;
    background: #fff;
}
.panel textarea.auth {
    height: 180px;
    width: 94%;
    margin-left: 6%;
}
.panel.auth pre {
    color: #888;
}

.panel-box {
    width: 100%;
    /* height: 500px; */
    /* color: #fff; */
    overflow: auto;
}
.panel-box.filled {
    /* background: #844439; */
    background: #fff;
}
.panel pre  {
    padding: 12px;
    margin: 0;
    border: none;
    background: none;
}
#results {
    margin: 0;
    padding: 12px;
    border: none;
}
.panel #result.error {
    background: pink 
}
#annotations-box {
    display: none;
}
#annotations-box ul {
    padding: 0 12px;
}
#annotations-box .annotations-title {
    padding: 6px 0 0 0;
    margin: 24px 12px 0 12px;
    border-top: 1px solid white;
    font-size: 1.3em;
}
#annotations-box ul li {
    list-style: none;
}
.annotations-title {

}
.clear {
    clear: both
}
#preview, #model-message {
    display: none;
}
#toggle-domain {
    cursor: pointer;
}
#domain {
    display: none;
}
.help {
    cursor: pointer;
    background: #424;
    color: #fff;
    display: inline-block;
    font-size: small;
    border-radius: 9px;
    width: 9px;
    padding: 0 2px;
}
button {
    font-size: small
}
a.close {
    text-decoration: none;
    color: #424;
}